@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #121923;
  --color-gradient: #27374d;
  --color-accent: #526d82;
  --color-text: #dde6ed;
  --color-info: #729dbe;
  --color-light-transparent: #526d8285;
  --color-mid-transparent: #526d8200;
}

h1,
h2 {
  font-family: "Poppins-Bold";
  color: white;
  font-size: 5rem;
}

h2 {
  text-align: center;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 2.5rem;
  color: white;
}

h4 {
  margin: 0 0 3rem 0;
}

h3,
h4,
p,
input {
  font-family: "Poppins-Regular";
}

h4,
p,
input,
button {
  color: var(--color-text);
}

h4,
p {
  font-size: 1.5rem;
}

.big-img {
  height: 13rem;
  margin: 0 0 3rem 0;
}

.icon {
  height: 2rem;
}

article {
  width: 100%;
  display: flex;
  margin: 0 0 1.5rem 0;
  text-align: center;
}

.icon-wrapper {
  display: inline-block;
  width: 50%;
}

main {
  height: 100vh;
  background: linear-gradient(30deg, var(--color-bg), var(--color-gradient));

  /* background-color: var(--color-bg); */
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.weather-sec {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.696),
    var(--color-gradient)
  );
  border: 0.5px solid var(--color-accent);
  transition: 2s ease-in-out;
}

input {
  display: block;
}

input[type="text"] {
  width: 50rem;
  height: 4rem;
  border-radius: 1.5rem;
  border: 2px solid var(--color-accent);
  color: var(--color-gradient);
  background-color: var(--color-text);
  padding: 1rem;
  margin: 0 auto 2rem auto;
  transition: 0.5s ease-in-out;
}
input[type="text"]:hover {
  background-color: white;
}

input[type="submit"] {
  width: 20rem;
  height: 4rem;
  background-color: var(--color-accent);

  border: none;
  border-radius: 1.5rem;
  margin: 0 auto 2rem auto;
  transition: 0.5s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--color-text);
  color: var(--color-gradient);
  cursor: pointer;
}

form {
  width: 50rem;
  margin: 0 auto;
  position: relative;
  transition: 1s ease-in-out;
}

.input-wrapper {
  position: absolute;
  top: 5rem;
  transition: 1.5s ease-in-out;
}

button {
  width: 20rem;
  height: 4rem;
  background-color: var(--color-accent);
  border: none;
  border-radius: 1.5rem;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: var(--color-text);
  color: var(--color-gradient);
  cursor: pointer;
}

figure {
  width: 100%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -100rem;
  transition: 1s ease-in-out;
}

section {
  width: 35rem;
  height: 62rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0 auto 2rem auto;
  transition: 2s ease-in-out;
}

.more-info {
  width: 100%;
  /* background: linear-gradient(
    180deg,
    var(--color-light-transparent) 10%,
    var(--color-mid-transparent) 100%
  ); */
  background-color: var(--color-gradient);
  border-radius: 1rem;
  border: 0.5px solid var(--color-light-transparent);
  padding: 2rem;
}

/* .more-info p {
  color: var(--color-info);
} */
